[submodule "linux"]
	path = linux
	url = git@github.com:marnovandermaas/riscv-linux.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:marnovandermaas/buildroot.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:marnovandermaas/riscv-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "praesidio-software"]
	path = praesidio-software
	url = git@github.com:marnovandermaas/praesidio-software.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
